.container {
    width: 400px;
    margin: 0 auto;
    padding: 50px;; 
    border: 5px solid #a93226;
    background-color: #d4ac0d;
}	

h1 {
    color: #5d6d7e;
    text-align: center;
}
    
h2 {
     color: #a93226;
     font-size: 18px;
     line-height: 1.5;
}
